*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aliceblue;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 90%;
    margin: auto;
}

h1{
    text-align: center;
    margin: 20px;
    color: rgb(36, 36, 113);
}

hr{
    width: 10%;
    margin: auto;
    border: 2px solid rgb(113, 112, 36);
}

ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
}

li{
    border: 2px solid gold;
    box-shadow: 0 0 5px gold;
    display: grid;
    padding: 10px 15px;
    border-radius: 15px;
    color: gold;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: gold;
}
a:hover{
    text-decoration: underline;
}
.menu-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 30px;
    margin-top: 40px;
}

.menu-item{
    display: flex;
    gap: 15px;
    align-items: flex-start;
}

.menu-item img{
    width: 150px;
    height: 150px;
    border: 2px solid rgb(66, 63, 34);
    box-shadow: 0 0 10px rgb(71, 71, 87);
    object-fit: cover;
    border-radius: 15px;
}

.menu-content{
    display: flex;
    flex-direction: column;
}

.menu-content h2{
    margin-bottom: 8px;
    color: rgb(36, 36, 113);
    text-decoration: underline;
}

.menu-content p{
    line-height: 1.6;
    color: #333;
}

span{
    color: cyan;
}
h2:hover{
    color: lightblue;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu-card{
        grid-template-columns: 1fr; 
    }
    ul{
        grid-template-columns: repeat(5, auto);
    }
}